<nav class="navbar fixed-bottom full-menu">
    <!-- for the rest of the navbar -->
    <!-- if user is logged in -->
    <% if current_user %>
      <!-- Logged in as <%= current_user.email %> -->
        <div class="menu-options">
          <div class="menu-option">
            <%= link_to news_page_path do %>
              <div class="menu-optio">
                <i class="far fa-newspaper" style="enable-background:new 0 0 477.874 477.874"></i>
                <p class="map-label">News</p>
              </div>
            <% end %>
          </div>

          <div class="menu-option">
            <%= link_to search_page_path do %>
              <div class="menu-optio">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 56.966 56.966" width="30px" fill="#999999" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
                        s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
                        c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
                        s-17-7.626-17-17S14.61,6,23.984,6z"/>
                    </g>
                  </g>
                </svg>
                <p class="search-label">Search</p>
              </div>
            <% end %>
          </div>

          <div class="menu-option">
            <%= link_to books_path do %>
              <div class="menu-optio">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" width="32px" fill="#999999" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M256,11.96L0,234.276l26.206,30.176l23.967-20.814V440.09c0,33.056,26.893,59.95,59.95,59.95h111.906V304.204h69.941
                        V500.04h109.908c33.056,0,59.95-26.893,59.95-59.95V243.639l23.967,20.814L512,234.277L256,11.96z M421.861,440.09
                        c0,11.019-8.964,19.983-19.983,19.983h-69.941V264.238H182.062v195.836h-71.94c-11.019,0-19.983-8.964-19.983-19.983V208.931
                        L256,64.894l165.861,144.037V440.09z"/>
                    </g>
                  </g>
                </svg>
                <p class="home-label">Home</p>
              </div>
            <% end %>
          </div>


          <div class="menu-option">
            <%= link_to profile_users_path, data: { turbolinks: false } do  %>
              <div class="menu-optio">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" width="30px" fill="#999999" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148
                        C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962
                        c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216
                        h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40
                        c59.551,0,108,48.448,108,108S315.551,256,256,256z"/>
                    </g>
                  </g>
                </svg>
                <p class="profile-label">Profile</p>
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </ul>
  </div>
</nav>
