<div class="container d-flex col-lg-6 " style="border:1px solid red">
  <div class="m-5 justify-content-center" style="border:1px solid red">
    <%= image_tag @book.photo_url, class: "border border-primary" %>
    <div class="w-50" style="border:1px solid red"><%= truncate(@book.title, length: 47) %></div>
    <div class="w-50" style="border:1px solid red"><%= truncate(@book.author, length: 47) %></div>
    <div class=" w-50" style="border:1px solid red"><%= truncate(@book.description, length: 200) %></div>
    <a href="<%= @book.preview_link %>"><p>Preview</p></a>
    <a href=""><p>Review</p></a>
    <a href="<%= @book.buy_link%>"><p>Buy Book</p></a>
  </div>
  <div></div>
</div>
